<ion-content>
  <span class="btn btn-primary btn-block" (click)="dismiss()">
    Cerrar
  </span>
  <div class="container p-3 mt-3 text-justify">

    <p>En esta pantalla podremos comparar el precio de la luz de diferentes fechas.</p>


    <p>Para añadir una fecha, primero tendremos que seleccionarla, pulsamos sobre la caja de la fecha:</p>

    <img src="assets/ayuda/ayuda_comparar_seleccionar_dia1.jpg">
    <br><br>

    <p>Nos aparecerá el siguiente panel. Seleccionamos la fecha que queremos y pulsamos sobre el botón <span
        class="text-primary">HECHO</span>. </p>
    <img src="assets/ayuda/ayuda_comparar_calendario.jpg">
    <br><br>


    <p>
      Una vez seleccionada la fecha pulsamos sobre el botón
      <ion-button color="success" class="btn btn-sm">
        Añadir día
      </ion-button>.
      Entonces aparecerán los días en la gráfica y podremos añadir más siguiendo el proceso anteriormente detallado.
      También podremos eliminar días pulsando sobre la
      <ion-button color="danger" class="btn btn-sm">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      de su tarjeta correspondiente.
    </p>

    <img src="assets/ayuda/ayuda_comparar_graficas.jpg">


  </div>

</ion-content>