<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    <ion-title>Precios por hora</ion-title>
  </ion-buttons>
</ion-header>

<ion-content>

  <ion-fab (click)="cambiarVistaDetalle()" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button size="big" color="primary">
      <ion-icon *ngIf="!vistaDetalle" style="font-size: xx-large;" name="list"></ion-icon>
      <ion-icon *ngIf="vistaDetalle" style="font-size: xx-large;" name="podium"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab (click)="showInfo()" horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button size="big" color="primary">
      <ion-icon style="font-size: xx-large;" name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col [ngClass]="paginaActual==0?'subrayado':'cambiarPagina text-muted'" (click)="irA(0)">
        Ayer
      </ion-col>
      <ion-col [ngClass]="paginaActual==1?'subrayado':'cambiarPagina text-muted'" (click)="irA(1)">
        Hoy
      </ion-col>
      <ion-col [ngClass]="paginaActual==2?'subrayado':'cambiarPagina text-muted'" (click)="irA(2)">
        Mañana
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides style="min-height: 90%;" (ionSlideDidChange)="cambioSolapa()" #capas pager="true"
    [options]="{initialSlide: 1,speed: 400, pager:true,scrollbar:true, autoHeight:true}">
    <ion-slide>
      <ion-grid>
        <ion-row *ngIf="vistaDetalle">
          <ion-col>
            <ion-card [ngClass]="{
                      'verdeOscuro': precio.value == precioBajoAyer1, 'verdeMedio': precio.value == precioBajoAyer2, 
                      'verdeClaro': precio.value == precioBajoAyer3, 'rojoOscuro': precio.value == precioAltoAyer1, 
                      'rojoMedio': precio.value == precioAltoAyer2, 'rojoClaro': precio.value == precioAltoAyer3}"
              *ngFor="let precio of preciosAyer">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <!-- <ion-text class="ion-text-capitalize">{{precio.datetime | date:'dd/MM/yyyy HH:mm:ss'}}</ion-text> -->
                    <ion-text>{{precio.datetime | date:'H'}} h - {{horaMas(precio.datetime) | date:'H'}} h</ion-text>
                  </ion-col>
                  <ion-col>
                    <ion-text>{{precio.value | number:'1.5-5'}} €/kWh</ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!vistaDetalle">
          <ion-col>
            <ion-card color="primary">
              <ion-card-header>
                <ion-card-title>Precio Medio</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{preMedioAyer | number:'1.5-5'}} €/kWh</ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

            <ion-card color="success">
              <ion-card-header>
                <ion-card-title>Precio Menor</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{preAyerMenor.fecha | date:'H'}} h</ion-text>
                    </ion-col>
                    <ion-col>
                      <ion-text>{{preAyerMenor.precio | number:'1.5-5'}} €/kWh</ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

            <ion-card color="danger">
              <ion-card-header>
                <ion-card-title>Precio Mayor</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{preAyerMayor.fecha | date:'H'}} h</ion-text>
                    </ion-col>
                    <ion-col>
                      <ion-text>{{preAyerMayor.precio | number:'1.5-5'}} €/kWh</ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>

        <ion-row *ngIf="vistaDetalle">
          <ion-col>
            <ion-card [ngClass]="{
                          'verdeOscuro': precio.value == precioBajoHoy1, 'verdeMedio': precio.value == precioBajoHoy2, 
                          'verdeClaro': precio.value == precioBajoHoy3, 'rojoOscuro': precio.value == precioAltoHoy1, 
                          'rojoMedio': precio.value == precioAltoHoy2, 'rojoClaro': precio.value == precioAltoHoy3}"
              *ngFor="let precio of preciosHoy">
              <ion-grid>
                <ion-row>
                  <ion-col size="4">
                    <!-- <ion-text class="ion-text-capitalize">{{precio.datetime | date:'dd/MM/yyyy HH:mm:ss'}}</ion-text> -->
                    <ion-text>{{precio.datetime | date:'H'}} h - {{horaMas(precio.datetime) | date:'H'}} h</ion-text>
                  </ion-col>
                  <ion-col size="2">
                    <!-- <ion-label class="text-left" *ngIf="precio.datetime.substring(0, 13) == hoy"> -->
                    <ion-label class="text-left" *ngIf="isNow(precio.datetime)">
                      <ion-icon class="grande" color="primary" name="time"></ion-icon>
                    </ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-text>{{precio.value | number:'1.5-5'}} €/kWh</ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!vistaDetalle">
          <ion-col>
            <ion-card color="primary">
              <ion-card-header>
                <ion-card-title>Precio Medio</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{preMedioHoy | number:'1.5-5'}} €/kWh</ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

            <ion-card color="success">
              <ion-card-header>
                <ion-card-title>Precio Menor</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{preHoyMenor.fecha | date:'H'}} h</ion-text>
                    </ion-col>
                    <ion-col>
                      <ion-text>{{preHoyMenor.precio | number:'1.5-5'}} €/kWh</ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

            <ion-card color="danger">
              <ion-card-header>
                <ion-card-title>Precio Mayor</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{preHoyMayor.fecha | date:'H'}} h</ion-text>
                    </ion-col>
                    <ion-col>
                      <ion-text>{{preHoyMayor.precio | number:'1.5-5'}} €/kWh</ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card style="max-width: 90%;margin-left: 5%;">
              <ion-card-content>
                <canvas #lineCanvas></canvas>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row *ngIf="preciosMan.length == 0">
          <div class="text-center mt-3 p-3">
            Todavía no están disponibles los precios de este día.
          </div>
        </ion-row>
        <ion-row *ngIf="vistaDetalle">
          <ion-col>
            <ion-card [ngClass]="{
              'verdeOscuro': precio.value == precioBajoMan1, 'verdeMedio': precio.value == precioBajoMan2, 
              'verdeClaro': precio.value == precioBajoMan3, 'rojoOscuro': precio.value == precioAltoMan1, 
              'rojoMedio': precio.value == precioAltoMan2, 'rojoClaro': precio.value == precioAltoMan3}"
              *ngFor="let precio of preciosMan">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <!-- <ion-text class="ion-text-capitalize">{{precio.datetime | date:'dd/MM/yyyy HH:mm:ss'}}</ion-text> -->
                    <ion-text>{{precio.datetime | date:'H'}} h - {{horaMas(precio.datetime) | date:'H'}} h</ion-text>
                  </ion-col>
                  <ion-col>
                    <ion-text>{{precio.value | number:'1.5-5'}} €/kWh</ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!vistaDetalle && preciosMan.length != 0">
          <ion-col>
            <ion-card color="primary">
              <ion-card-header>
                <ion-card-title>Precio Medio</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{preMedioMan | number:'1.5-5'}} €/kWh</ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

            <ion-card color="success">
              <ion-card-header>
                <ion-card-title>Precio Menor</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{preManMenor.fecha | date:'H'}} h</ion-text>
                    </ion-col>
                    <ion-col>
                      <ion-text>{{preManMenor.precio | number:'1.5-5'}} €/kWh</ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

            <ion-card color="danger">
              <ion-card-header>
                <ion-card-title>Precio Mayor</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{preManMayor.fecha | date:'H'}} h</ion-text>
                    </ion-col>
                    <ion-col>
                      <ion-text>{{preManMayor.precio | number:'1.5-5'}} €/kWh</ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <!-- <ion-button (click)="borrarStorage()">Borrar Storage</ion-button> -->
</ion-content>