.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

img {
  height: 70vh;
  width: auto;
  margin: auto;
  display: block;
}

.subrayado {
  font-size: 20px;
  font-weight: bold;
  color: rgb(103, 103, 255);
}

.cambiarPagina {
  font-size: 15px;
}

.verdeOscuro {
  background-color: rgb(0, 138, 0);
  color: white;
}

.verdeMedio {
  background-color: rgb(49, 187, 49);
  color: white;
}

.verdeClaro {
  background-color: rgb(112, 226, 112);
  color: white;
}

.rojoOscuro {
  background-color: rgb(138, 0, 0);
  color: white;
}

.rojoMedio {
  background-color: rgb(187, 49, 49);
  color: white;
}

.rojoClaro {
  background-color: rgb(226, 112, 112);
  color: white;
}

.grande {
  font-size: 18px;
}
