<ion-content>
  <span class="btn btn-primary btn-block" (click)="dismiss()">
    Cerrar
  </span>
  <div class="container p-3 mt-3 text-justify">

    <p>
      En esta pantalla mostramos información sobre el precio de la luz durante las diferentes horas del día y un resumen
      del mismo.

      <p>
        La pantalla está dividida en 3 partes AYER, HOY y MAÑANA, pulsando sobre los textos o deslizando a
        derecha e izquierda, navegaremos a sus respectivas pantallas.
      </p>

      <img src="assets/ayuda/ayuda_precios_hora_cabecera.jpg">
      <br><br>

      <p>
        Dentro de cada pantalla, tendremos una información resumida y una información detallada.
      </p>
      <p>
        Para acceder a la información detallada pulse en el botón que se encuentra en la esquina inferior derecha.
      </p>

      <img src="assets/ayuda/boton_detalle.jpg">
      <br><br>

      <p>
        Dentro de la información detallada tendremos los precios a las distintas horas del día. Aparecerán las distintas
        horas en colores verdes (el verde oscuro es la hora más barata y el verde claro es la menos baráta dentro de las
        más baratas), en colores rojos (el rojo más oscuro es la hora más cara y el rojo claro la menos cara dentro de
        las caras) y en blanco el resto de horas.
      </p>

      <p>
        La hora actual estará marcada con un reloj azul.
      </p>


  </div>

</ion-content>