<ion-content>
  <span class="btn btn-primary btn-block" (click)="dismiss()">
    Cerrar
  </span>
  <div class="container p-4 text-justify">

    <p class="text-justify">Estos son los pasos a seguir para poder conseguir el ahorro que le proporcionaremos:</p>

    <ol>
      <li>Envienos sus facturas en el formulario para poder realizar el estudio. También puede enviar sus facturas a <a
          href="mailto:contacto@sadca.es">contacto@sadca.es</a> en caso de tener alguna dificultad con el formulario.
      </li>
      <br>
      <li>Nosotros contactaremos con usted por medio del correo electrónico que nos facilite o por el teléfono que nos
        indique. Le facilitaremos el estudio realizado para que pueda comprobar el ahorro estimado sobre sus facturas.
      </li>
      <br>
      <li>Una vez decida que le interesa llevar a cabo este ahorro, nosotros le solicitaremos los datos restantes para
        formalizar el contrato y llevar a cabo su cambio para obtener dicho ahorro.</li>
      <br>
      <li>Una vez formalizado el contrato, se lo enviaremos por correo para que lo valide y le enviaremos un SMS para
        que
        realice la firma de dicho contrato.</li>
      <br>
      <li>¡Contrato firmado!¡A disfrutar del ahorro!</li>

    </ol>

  </div>
</ion-content>