<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    <ion-title>
      Ajustes
    </ion-title>
  </ion-buttons>
</ion-header>

<ion-content>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label class="font-weight-bold">Tarifa</ion-label>
      </ion-list-header>

      <ion-item (click)="cambioTarifa(tar.id)" *ngFor="let tar of tarifas">
        <ion-label>{{tar.value}}</ion-label>
        <ion-radio mode="ios" checked="{{tar.id == tarifa}}"></ion-radio>
      </ion-item>

    </ion-radio-group>

  </ion-list>

  <br><br>

  <ion-list>
    <ion-list-header>
      <ion-label class="font-weight-bold">Aviso Legal</ion-label>
    </ion-list-header>
    <ion-item onclick="window.open('https://www.sadca.es/avisoLegal.html', '_system', 'location=yes'); return false;">
      Aviso Legal
    </ion-item>
  </ion-list>
  <br><br>

  <ion-list>
    <ion-list-header>
      <ion-label class="font-weight-bold">Version</ion-label>
    </ion-list-header>
    <ion-item class="text-black-50">
      1.0.1
    </ion-item>
  </ion-list>

</ion-content>