<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    <ion-title>Comparar Precios</ion-title>
  </ion-buttons>
</ion-header>

<ion-content>

  <ion-fab (click)="showInfo()" horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button size="big" color="primary">
      <ion-icon style="font-size: xx-large;" name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>

    <ion-grid>
      <ion-row>
        <ion-col class="text-center">
          <ion-text>Seleccionar Día</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=5>
          <ion-datetime class="border border-dark" style="border-radius: 5px;" [(ngModel)]="fecha" [value]="hoy"
            displayFormat="DD/MM/YYYY" min="2018-01-01" [max]="manana" [cancelText]="'Cancelar'" [doneText]="'Hecho'">
          </ion-datetime>
        </ion-col>
        <ion-col>

          <ion-button (click)="nuevaFecha()" color="success" class="btn btn-sm float-right">
            Añadir día
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <canvas #lineCanvas height="40vh" width="40vw"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let fechaComp of fechasComparar;let i = index">
          <ion-grid>
            <ion-row>
              <ion-col class="pt-3 text-right" size=7>
                {{fechaComp}}
              </ion-col>
              <ion-col class="text-right" size=5>
                <ion-button (click)="borrarFecha(i)" color="danger" class="btn btn-sm">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>