<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    <ion-title>Ahorra en tu factura</ion-title>
  </ion-buttons>
</ion-header>

<ion-content>

  <ion-fab (click)="showInfo()" horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button size="big" color="primary">
      <ion-icon style="font-size: xx-large;" name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <form #form="ngForm" (ngSubmit)="enviar(form)">

    <section class="pl-3 pr-3 mt-3 text-justify">
      <ion-text class="text-muted">La mayoría de los hogares pueden pagar un precio más bajo en sus facturas de luz y
        gas. Si nos adjuta su factura nos pondremos en contaco con usted en las próximas 24/48 horas para indicarle
        mediante un estudio personalizado y gratuito cual sería su ahorro aproximado.
      </ion-text>
    </section>

    <app-multi-file-upload></app-multi-file-upload>

    <ion-item>
      <ion-label position="floating">Correo Electrónico <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required email [(ngModel)]="correo" name="correo" type="email"></ion-input>
    </ion-item>
    <ion-text class="small ml-3" color="danger"
      *ngIf="form.controls['correo'] && form.controls['correo'].errors && form.controls['correo'].errors['email']">
      Introduzca un correo correcto</ion-text>
    <ion-text class="small ml-3" color="danger"
      *ngIf="form.submitted && form.controls['correo'] && form.controls['correo'].errors && form.controls['correo'].errors['required']">
      Campo obligatorio</ion-text>

    <br>

    <ion-item>
      <ion-label position="floating">Teléfono <ion-text class="text-muted small">(Opcional)
        </ion-text>
      </ion-label>
      <ion-input number [(ngModel)]="telefono" name="telefono" type="number"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-label position="floating">Comentario <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-textarea required [(ngModel)]="comentario" name="comentario"></ion-textarea>
    </ion-item>
    <ion-text
      *ngIf="form.submitted && form.controls['comentario'] && form.controls['comentario'].errors && form.controls['comentario'].errors['required']"
      class="small ml-3" color="danger">
      Campo obligatorio</ion-text>

    <br>

    <div class="form-check ml-3">
      <input [(ngModel)]="politicaProtec" name="politicaProtec" id="politicaProtec" class="form-check-input"
        type="checkbox">
      <label class="form-check-label" for="politicaProtec">He leído y acepto la <span
          onclick="window.open('https://www.sadca.es/Privacy.html', '_system', 'location=yes'); return false;"
          class="alert-link">Política de
          privacidad y Protección de datos</span></label>
      <label *ngIf="!politicaProtec" class="form-check-label text-danger" for="politicaProtec">Debe aceptar esta opción
        para enviar el
        formulario</label>
    </div>

    <br>

    <!-- <div class="form-check ml-3">
      <input [(ngModel)]="acuerdoComer" name="acuerdoComer" id="acuerdoComer" class="form-check-input" type="checkbox">
      <label class="form-check-label" for="acuerdoComer">Acepto que SADCA me envie correos comerciales</label>
    </div>

    <br> -->

    <ion-button type="submit" expand="block">Enviar</ion-button>

  </form>
</ion-content>