<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ahorra en tu factura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="enviar(form)">

    <section class="pl-3 pr-3 mt-3 text-justify">
      <ion-text class="text-muted">Adjuntanos tu factura de luz o gas, ya sea una imagen o un pdf y nosotros
        contactaremos contigo en el menor tiempo posible y te facilitaremos un estudio y un ahorro estimado para tí.
      </ion-text>
    </section>

    <app-multi-file-upload></app-multi-file-upload>

    <ion-item>
      <ion-label position="floating">Correo Electrónico <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required email [(ngModel)]="correo" name="correo" type="email"></ion-input>
    </ion-item>
    <ion-text class="small ml-3" color="danger"
      *ngIf="form.controls['correo'] && form.controls['correo'].errors && form.controls['correo'].errors['email']">
      Introduzca un correo correcto</ion-text>
    <ion-text class="small ml-3" color="danger"
      *ngIf="form.submitted && form.controls['correo'] && form.controls['correo'].errors && form.controls['correo'].errors['required']">
      Campo obligatorio</ion-text>

      <button ion-button block (click)="getPicture()">Toma una foto</button>
    <br>

    <ion-item>
      <ion-label position="floating">Teléfono <ion-text class="text-muted small">(Opcional)
        </ion-text>
      </ion-label>
      <ion-input number [(ngModel)]="telefono" name="telefono" type="number"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-label position="floating">Comentario <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-textarea required [(ngModel)]="comentario" name="comentario"></ion-textarea>
    </ion-item>
    <ion-text
      *ngIf="form.submitted && form.controls['comentario'] && form.controls['comentario'].errors && form.controls['comentario'].errors['required']"
      class="small ml-3" color="danger">
      Campo obligatorio</ion-text>

    <br>

    <ion-button type="submit" expand="block">Enviar</ion-button>

  </form>
</ion-content>