<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <a href="#" onclick="window.open('https://www.sadca.es', '_system', 'location=yes'); return false;">
          <div class="p-2" style="background-color: black; text-align:center;">
            <img width="80%" src="assets/logos/logo_blanco3.png">
          </div>
        </a>
        <ion-list>
          <app-menu></app-menu>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>