<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
      <ion-button [routerLink]="'/ahorrar-factura'" color="warning" size="small" style="float: right;">
        <ion-text class="text-dark">
          Ahorra en tu factura
        </ion-text>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col>

        <ion-card [routerLink]="'/ahorrar-factura'" class="text-center tarjeta">
          <ion-card-header>
            <ion-card-title>Ahorra en tu factura</ion-card-title>
            <!-- <ion-card-subtitle>Card Title</ion-card-subtitle> -->
          </ion-card-header>

          <ion-card-content>
            Podrás enviarnos tu factura y recibir un estudio sobre tu consumo energético.
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col>

        <ion-card [routerLink]="'/precios-hora'" class="text-center tarjeta">
          <ion-card-header>
            <ion-card-title>Precios por periodo</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Podrás ver el precio de la energía a lo largo del día y un resumen de este.
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col>

        <ion-card [routerLink]="'/comparar'" class="text-center tarjeta">
          <ion-card-header>
            <ion-card-title>Comparar Precios</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Podrás comparar los precios de días diferentes mediante gráficas sencillas.
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col>

        <ion-card [routerLink]="'/ajustes'" class="text-center tarjeta">
          <ion-card-header>
            <ion-card-title>Ajustes</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Podrás modificar las preferencias de la aplicación, como el tipo de tarifa.
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col>

        <ion-card [routerLink]="'/contactar'" class="text-center tarjeta">
          <ion-card-header>
            <ion-card-title>Contactar</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Podrás enviarnos un correo con las dudas o sugerencias que tengas.
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col>

        <ion-card [routerLink]="'/ayuda'" class="text-center tarjeta">
          <ion-card-header>
            <ion-card-title>Ayuda</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Podrás consultar información sobre la aplicación o las distintas tarifas energéticas.
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>