@charset "UTF-8";

.posiLogo {
  margin-top: 60%;
  max-width: 90%;
  margin-left: 5%;
}

@-webkit-keyframes animacionLogo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animacionLogo {
  from {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0.2;
  }
}

.animacionLogo {
  -webkit-animation-name: animacionLogo;
  animation-name: animacionLogo;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}

.cuerpo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: #000;
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  animation: animar 2s linear infinite;
}

@-webkit-keyframes animar {
  from {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes animar {
  from {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.loader:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #000;
  border-radius: 50%;
  z-index: 1000;
}

.loader:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}
